#content {
	max-width: 400px;
	max-height: 300px;
	overflow: auto;
}

#content-table{
	border: 1px solid black;	
}

.line-center {
	margin: 0;
	padding: 0 10px;
	background: #fff;
	display: inline-block;
}

h2 {
	text-align: center;
	position: relative;
	z-index: 2;
}

h2:after {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	border-top: solid 1px black;
	z-index: -1;
}